<ion-card *ngIf="(symbol$ | async) as symbol; else loading">
  <ion-card-header>
    <ion-card-subtitle>Last pull: {{ symbol.lastPull  | date:'mediumTime'}}</ion-card-subtitle>
    <ion-card-title>{{ symbol.symbol}}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <div class="stats-container">
      <h2 class="stats-title">Open</h2>
      <h2 class="stats-value">{{ symbol.open | currency }}</h2>
    </div>
    <div class="stats-container">
      <h2 class="stats-title">Last</h2>
      <h2 class="stats-value">{{ symbol.last | currency }}</h2>
    </div>
    <div class="stats-container">
      <h2 class="stats-title">Change</h2>
      <h2 class="stats-value" [ngClass]="{'negative': symbol.change < 0, 'positive': symbol.change > 0}">{{ symbol.change }}%</h2>
    </div>
    
  </ion-card-content>
</ion-card>

<ng-template #loading>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Loading...</ion-card-title>
    </ion-card-header>
  </ion-card>
</ng-template>