<ion-app>
  <ion-menu side="start" content-id="main-content">
    <app-settings></app-settings>
  </ion-menu>
  
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <div class="toolbar-container">
          <div class="title-container">
            <ion-buttons slot="start">
              <ion-menu-button>
                <ion-icon name="cog-outline"></ion-icon>
              </ion-menu-button>
            </ion-buttons>
            <ion-title>StickStock</ion-title>
          </div>
          <app-stock-add></app-stock-add> 
        </div>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-router-outlet></ion-router-outlet>
    </ion-content>
  </div>
</ion-app>
